*{

  margin: 0px;
  padding: 0px;

}
body{
  
    font-family: Georgia, 'Times New Roman', Times, serif; 
    background-color: rgb(255, 255, 255); 
  }

form{
  margin: 10px;
  background-color: rgb(211, 211, 211);
  min-height: 300px;
  margin: 0 auto;
  width: 50%;
  padding: 40px;
  border: 3px solid black;
}

header{
  background: rgb(63, 62, 65);
  height: 120px;
  width: 100%;
  margin: 0px;
  text-align: center;
  line-height: 100px;
  border: 3px solid black;
  color: white;
}
h1{
    text-align: center;
}
